tqdm 
colorama
numpy
scipy
matplotlib

decorators @ git+https://github.com/ParkhomenkoDV/decorators.git@master
mathematics @ git+https://github.com/ParkhomenkoDV/mathematics.git@master
material @ git+https://github.com/ParkhomenkoDV/material.git@master
foil @ git+https://github.com/ParkhomenkoDV/foil.git@master
